*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Sam's temp files
*.swp

# Eclipse's unneeded bin directory
bin

# Eclipse's unneeded .metadata
.metadata

# OS X's unneeded DS_Store
.DS_Store
